<button class="btn btn-primary" ui-sref="newMission">Nouvelle mission</button>

<div class="panel panel-default">

    <div class="panel-heading">
        Liste des Missions
        <span class="pull-right search">
            <form class="form-inline">
                <span class="glyphicon glyphicon-search"></span>
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="search"
                           placeholder="Rechercher..."
                    />
            </form>
        </span>
    </div>

    <div class="panel-body">
        <table class="table table-bordered">

            <tr>
                <th>Ref
                    <span ng-click="order = 'ref'" class="glyphicon glyphicon-menu-up"></span>
                    <span ng-click="order = '-ref'" class="glyphicon glyphicon-menu-down"></span>
                </th>
                <th>Type
                    <span ng-click="order = 'type'" class="glyphicon glyphicon-menu-up"></span>
                    <span ng-click="order = '-type'" class="glyphicon glyphicon-menu-down"></span>
                </th>
                <th>Chef de projet
                    <span ng-click="order = 'manager'" class="glyphicon glyphicon-menu-up"></span>
                    <span ng-click="order = '-manager'" class="glyphicon glyphicon-menu-down"></span>
                </th>
            </tr>

            <tr ng-repeat="mission in missions.missions | filter:sensitiveSearch | orderBy: order"
                ng-style="{
							 'background-color': $index == selectedIndex ? 'lightgray' : ''
						}"
                ui-sref="mission({ref:mission.ref})"
                ng-click="selectMission(mission, $index)">
                <td><a ng-href="#/edit/{{mission.ref}}">{{ mission.ref }}</a></td>
                <td>{{ mission.type }}</td>
                <td>{{ mission.manager }}</td>
            </tr>

        </table>

        <div class="spinner"
             ng-show="missions.isLoading">
            <span us-spinner="{radius:8, width:5, length: 3, lines:9}">Loading...</span>
        </div>
    </div>
</div>
